h3.source {
    margin:0;
    padding:0 0 5px;
}

.ui-widget {
    font-size:.85em;
}

/*
input#query {
    font-size:1.0em;
    padding:3px;
    width:300px
}
*/

.repo-desc {
    /*margin:5px 20px 0px 24px;*/
    margin:10px 20px 0px 0px;
    font-size:.85em;
}

/* container for search results */
.repo-wrapper {
    text-align:left;
    display:inline-block;
    width:46%;
    min-width:375px;
    padding:13px 10px;
    background:#efefef;
    /* border-top:thick forestgreen solid; */
    border-top:3px #025081 solid; /* blue */
    margin:20px 0 0 0;
}

.repo-wrapper h3, .source-label {
    font-size:1.2em;
    font-weight:bold;
    margin:0px 0px 0px 0px;
    color:#003366; /* dark blue */
    font-family:font-family: "UbuntuBold","Lucida Grande",Verdana,Arial, sans-serif;
}

.source-label {
    /* border:thick dashed orange; */
}

#search-button {
    position:relative;
    top:-2px;
}


.ui-button {
    background:white;
    color:#D75900;  /* orange */
    font-weight:normal;
}

.see-all-button {
    float:right;
}

.see-all-button.ui-button {
    top:-5px;
}
OA
.see-all-button.ui-state-default a {
    color:white;
}
/* title is a loaded style/class in Archives site */
.result-title {
    padding:8px 0 3px;
    font-weight:bold;
    font-size:1.0em;
    text-transform: none;
    color:#025081;  /* blue */
}

.repo-link .ui-icon {
    display:inline-block;
}

.description {
    font-size:.85em;
    line-height:1.2em;
}

#search-form-wrapper {
    margin-bottom:15px;
}

ol.results-list {
    list-style-type:none;
    margin:0;
/*    border:thin solid orange;*/
}

.results-msg {
    font-style:italic;
    margin:10px;
}

/* ASPACE STYLES */

#aspace-wrapper {
    /*border:thin orange solid;*/
    /*float:left;*/
    margin-right:10px;

}

.result-attr {
    display:inline-block;
    padding-right:20px;
    font-size:.85em;
    color:darkblue;
}

.result-attributes {
    padding: 0 0 5px;
}



/* OPENSKY results */
#opensky-wrapper {
    /*border:thin greenyellow solid;*/
    float:right;
}

#opensky-results .date {
    position:relative;
    float:right;
    top:10px;
}

