#featured #edit-search-psearch div{
    line-height:1;
}

#edit-scope {
    display:table;
    border-collapse:collapse;
    margin:0 0 5px 0;
}

div#edit-scope div.form-type-radio {
    display:inline-block;
    border:blue 0px solid;
    margin:0;
    padding:5px;
}

.form-item.form-item-q {
    display:inline;
}

.ui-widget {
    font-size:.85em;
}

input#edit-q {
    font-size:1em;
    color:brown;
    height:20px;
}