body {
    font-family:Arial;
    margin:20px;
    background: #fbfbf9;
    background-image:url(assets/dust_scratches.png)
}

#page-wrapper {
    width:95%;
    margin:auto;
    border:0px solid black;
}

h1.page-title {
    text-align:center;
    clear:both;
}

h3 {
    margin:0;
    padding:0 0 5px;
}

.ui-widget {
    font-size:.85em;
}

input#query, input#prefix {
    font-size:1.0em;
    padding:3px;
    width:200px
}

input#prefix {
    width:120px;
}

.repo-desc {
    /*margin:5px 20px 0px 24px;*/
    margin:5px 20px 0px 0px;
    font-size:.85em;
}

.repo-wrapper {
    text-align:left;
    display:inline-block;
    width:45%;
    min-width:375px;
    padding:20px;
    background:white;
    border-top:thick forestgreen solid;
}

#search-button {
    position:relative;
    top:-2px;
}


.ui-button {
    background:forestgreen;
    color:white;
}

.see-all-button {
    float:right;
}

.see-all-button.ui-button {
    top:-5px;
}

.see-all-button.ui-state-default a {
    color:white;
}

.title {
    padding:8px 0 3px;
    font-weight:bold;
    font-size:.9em;
}

.repo-link .ui-icon {
    display:inline-block;
}

.description {
    font-size:.85em;
}

.parent {
    font-style:italic;
    padding:4px 0;
    font-size:.85em;
    cursor:pointer;
}

#search-form-wrapper {
    margin-bottom:15px;
}

ol.results-list {
    margin-top:5px;
}

/* ASPACE STYLES */

#aspace-wrapper {
    /*border:thin orange solid;*/
    /*float:left;*/
    margin-right:10px;

}

.result-attr {
    display:inline-block;
    padding-right:20px;
    font-size:.85em;
    color:darkblue;
}

.result-attributes {
    padding: 0 0 5px;
}



/* OPENSKY results */
#opensky-wrapper {
    /*border:thin greenyellow solid;*/
    float:right;
}

#opensky-results .date {
    position:relative;
    float:right;
    top:10px;
}

